body{
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
h1{
    color: #231d3c;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}
h2{
    text-align: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 30px;
    color: #885df1;
}
p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: monospace;
    font-size: 18px
}
p span{
    font-weight: bold;
    color: #231d3c;
    font-family: monospace;
    font-size:20px;
    text-align: center;
    margin-bottom: 30px;
}
.spots-available{
    text-align: center;
    margin-bottom: 30px;
}

button{
    display: block;
    margin: 0 auto;
    background-color:#8064e9;
    padding: 20px;
    border-radius: 20px;
    border: none;
    color: #fff;
}
button:hover{
    background-color: #fff;
    border: 1px solid #8064e9 ;
    color: #8064e9;
}

.woman-coding{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}